@page "/counter"
@using BlazorApp1.Shared;
@inject HttpClient Http

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary mb-3" @onclick="IncrementCount">Click me</button>
<br>
<button class="btn btn-warning mb-3" @onclick="AddBook">Add some book</button>


@if (dict != null)
{
    foreach (var item in dict)
    {
        <p>@item.Key : @item.Value</p>
    }
}

@if (test != null)
{
    <p class="text-warning">@test</p>
}

@code {
    private int currentCount = 0;
    private string? test;
    private Dictionary<string, string>? dict;
    private async Task IncrementCount()
    {
        currentCount++;

        dict = await Http.GetFromJsonAsync<Dictionary<string, string>>("home/env");

        foreach (var item in dict)
        {
            Console.WriteLine($"{item.Key} : {item.Value}");
        }

        test = await Http.GetFromJsonAsync<string>("home/app");

        Console.WriteLine($"***** {test} *****");
    }




    private async Task AddBook()
    {
        int pages = new Random().Next(200, 1000);
        Book b = new()
            {
                Author = "Tolkin",
                Title = "Hobbit",
                Pages = pages
            };
        await Http.PostAsJsonAsync<Book>("api/book", b);
    }
}
