@page "/"
@inject HttpClient Http

<PageTitle>Index</PageTitle>

<h1>Hello, Evryone</h1>
Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />


@code{
    protected async override Task OnInitializedAsync()
    {
        string key = await Http.GetFromJsonAsync<string>("weather/key");
        Console.WriteLine(key);
    }
}
