@page "/{str?}"
@inject HttpClient Http
@inject NavigationManager nav

<h3>wait ...</h3>

@code {
    [Parameter]
    public string Str { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        //Link? l = await Http.GetFromJsonAsync<Link>("home/red");
        //nav.NavigateTo(l.link);
    }


    record Link(string link);
}
